ffmpeg-python
matplotlib <= 3.8.4
mediapipe
openai-whisper
opensmile
pyannote.audio
pydub
scikit-video @ git+https://github.com/rk-exxec/scikit-video.git@de2a668
speechbrain <= 0.5.16
torch
torchvision
torchaudio
tqdm
