ffmpeg-python
mediapipe
openai-whisper
opensmile
pyannote-audio @ git+https://github.com/pyannote/pyannote-audio.git@bc0920f
pydub
scikit-video @ git+https://github.com/rk-exxec/scikit-video.git@de2a668
torch==2.0.1
torchvision
torchaudio
tqdm
